<section class="relative h-screen flex flex-col justify-between items-center bg-cover bg-center" style="background-image: url('/assets/backgroundcasabweb.png');">
  <div class="absolute inset-0 bg-black opacity-30"></div>

  <div class="relative z-10 flex flex-col items-center justify-center flex-grow p-4">
    <p class="text-[10rem] md:text-8xl lg:text-9xl font-extrabold text-casabgreen leading-none mb-10 font-space-grotesk">
      CASA B
    </p>

    <button routerLink="/events" class="inline-block bg-casabgreen hover:opacity-90 text-stone-800 font-bold text-lg px-8 py-4 transition-opacity duration-300 shadow-lg font-space-grotesk">
      Próximos eventos
    </button>
  </div>

  <div class="relative z-10 w-full flex justify-between p-8 text-casabgreen text-xl md:text-2xl font-light font-space-grotesk">
    <p class="max-w-md">
      Refugio para la música
      electrónica y la naturaleza
    </p>
    <p class="max-w-md text-right">
      Revolución cultural
      en la ciudad.
    </p>
  </div>
</section>

<section class="bg-gray-50 py-16 md:py-24 dark:bg-gray-800">
  <div class="container mx-auto px-4 font-space-grotesk">
    <p class="container mx-auto px-4 text-center text-gray-400 dark:text-gray-100">
      Además de nuestra programación cultural, impulsamos un sueño aún más grande: la creación de una reserva natural con árboles nativos. Este proyecto refleja nuestro compromiso con la sostenibilidad y la preservación del ecosistema, demostrando que cultura y naturaleza pueden convivir en perfecta armonía.
    </p>
  </div>
</section>

<section class="bg-gray-50 dark:bg-gray-800">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8 items-center">

      <div class="text-center lg:text-left font-space-grotesk">
        <p class="font-extrabold text-9xl md:text-8xl leading-none text-casabgreen">
          PRÓXI<br>MOS<br>EVEN<br>TOS
        </p>
      </div>

      <div class="flex items-center justify-center space-x-8 lg:justify-start">
        @for (evento of eventosProximos; track $index) {
          <app-event-card [eventData]="evento"></app-event-card>
        }
      </div>

      <div>
        <button>

        </button>
      </div>
    </div>
  </div>
</section>

<section class="py-12 bg-stone-200 dark:bg-gray-700">
  <div class="container mx-auto px-4 text-center max-w-4xl">
    <h2 class="text-3xl font-bold text-gray-900 dark:text-gray-100 mb-8">Lo que dicen de nosotros</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      @for (testimonio of testimonios; track $index) {
        <div class="bg-violet-800 dark:bg-violet-800 border border-gray-200 dark:border-gray-700 p-6 rounded-lg shadow-md">
          <p class="text-gray-200 dark:text-stone-100 italic mb-4">"{{ testimonio.text }}"</p>
          <p class="font-bold text-gray-200 dark:text-gray-100">{{ testimonio.author }}</p>
        </div>
      }
    </div>
  </div>
</section>

<section class="py-12 bg-lime-600 dark:bg-lime-600 text-white">
  <div class="container mx-auto px-4 text-center max-w-4xl">
    <h2 class="text-3xl font-bold mb-4 space-grotesk">Apoya Nuestro Sueño</h2>
    <p class="text-lg mb-6 text-gray-100 dark:text-gray-200">Tu contribución nos permite continuar expandiendo nuestra labor cultural y hacer realidad el proyecto de nuestra reserva natural. Cada donación es un paso hacia un futuro más sostenible y lleno de arte.</p>
    <a routerLink="/donate" class="inline-block bg-green-900 hover:bg-green-700 text-white dark:bg-green-500 dark:hover:bg-green-600 text-lg px-8 py-3 rounded-md transition-colors duration-300 font-bold">
      ¡Quiero Donar!
    </a>
  </div>
</section>