<section class="py-12 bg-gray-50 dark:bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="text-center max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-extrabold text-gray-900 dark:text-gray-100 mb-6">
        Próximos Eventos en Casa B
      </h1>
      <p class="text-lg text-gray-600 dark:text-gray-300 mb-12 max-w-2xl font-light leading-relaxed mx-auto">
        Descubre la diversidad de nuestra programación cultural. Desde vibrantes noches de música, hasta proyecciones de
        cine, exposiciones de arte y talleres.
      </p>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-3 sm:gap-4 mb-8">
      <button
        class="px-6 py-2 rounded-full border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 font-medium bg-white dark:bg-gray-800 hover:bg-violet-300 dark:hover:bg-violet-700 transition-colors duration-200">
        Todos
      </button>
      <button
        class="px-6 py-2 rounded-full border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 font-medium bg-white dark:bg-gray-800 hover:bg-violet-300 dark:hover:bg-violet-700 transition-colors duration-200">
        Música
      </button>
      <button
        class="px-6 py-2 rounded-full border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 font-medium bg-white dark:bg-gray-800 hover:bg-violet-300 dark:hover:bg-violet-700 transition-colors duration-200">
        Arte
      </button>
      <button
        class="px-6 py-2 rounded-full border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 font-medium bg-white dark:bg-gray-800 hover:bg-violet-300 dark:hover:bg-violet-700 transition-colors duration-200">
        Gastronomía
      </button>
      <button
        class="px-6 py-2 rounded-full border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 font-medium bg-white dark:bg-gray-800 hover:bg-violet-300 dark:hover:bg-violet-700 transition-colors duration-200">
        Cine
      </button>
      <button
        class="px-6 py-2 rounded-full border border-gray-300 dark:border-gray-600 text-gray-700 dark:text-gray-200 font-medium bg-white dark:bg-gray-800 hover:bg-violet-300 dark:hover:bg-violet-700 transition-colors duration-200">
        Agro-ecología
      </button>
    </div>

    <section class="py-12 bg-gray-50 dark:bg-gray-900">
      <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
          @for (event of event; track event.id) {
            <app-event-card [eventData]="event"></app-event-card>
          }
        </div>
      </div>
    </section>

  </div>
</section>